---
export const prerender = true;
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import Date from "../../components/date.astro";
import Views from "../../components/views.astro";
import "../../styles/app.css";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, description, pubDate, updatedDate, heroImage, hidden } =
  Astro.props.data;
const { Content } = await post.render();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Jack LaFond</title>
    <meta property="og:image" content=`https://lafond.id${heroImage}` />
    <meta property="og:title" content={title} />
    <meta property="description" content={description} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={`https://lafond.id/blog/${post.slug}`} />
    <link
      rel="preload"
      href="/fonts/BerkeleyMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <ViewTransitions />
  </head>
  <div class="flex p-8 font-mono">
    <div class="mt-20 ml-auto mr-auto">
      <div class="flex max-w-5xl flex-col">
        <div class="flex flex-col gap-10">
          <a href="/" transition:animate="fade" class="mb-4">
            <button class="rounded-lg">../../back</button>
          </a>
        </div>
        <Image
          width="1920"
          height="1080"
          class="rounded-lg mb-8"
          src={heroImage ? heroImage : "/astro-logo.svg"}
          alt="Astro logo"
        />
        <div class="space-y-2">
          <h1 class="font-bold text-4xl">{title}</h1>
          <div>
            <p class="text-black/70">
              {description} ⊙ <Date date={pubDate} /> ⊙ <Views
                slug={post.slug}
              />
            </p>
            {
              hidden && (
                <p class="bg-red-100 border-l-4 border-red-600 p-4 max-w-5xl">
                  Hey! This post hasn't been made public yet, so Jack's probably
                  still working on it. Don't share it with anyone!
                </p>
              )
            }
          </div>
        </div>

        <hr class="my-6" />
        <div class="max-w-5xl">
          <article class="prose dark:prose-dark max-w-none">
            <Content />
          </article>
        </div>
        <hr class="my-6" />
        <div class="text-black/70 flex justify-between">
          <a href="/" transition:animate="fade" class="mb-4">
            <button class="rounded-lg">../../back</button>
          </a>
          <span>
            Connect with me on <a
              class="underline"
              href="https://linkedin.com/in/jacklafond">LinkedIn!</a
            > Thanks for reading {"<3"}
          </span>
        </div>
      </div>
    </div>
  </div>
</html>
